
  <div class="row" style={'padding-top': '1rem';}>
    
    <div id="login" class="col s6 offset-s3">

      {{#if error}}
      <p style="color:red">{{error}}</p>

      {{/if}}
<h1>Create new Password</h1>

<form action="/auth/password" method="POST">
 <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id='password' type="pasword" name='password' id="autocomplete-input" class="autocomplete" placeholder="new password">
        </div>
      </div>
    </div>
  </div>

  <input type="hidden" name="_csrf" value="{{csrf}}">
  <input type="hidden" name="userId" value="{{userId}}">
  <input type="hidden" name="token" value="{{token}}">

    <button class="btn" type="submit">Update password</button>
</form>



    </div>
   
  </div>